.title{
    background: #03001e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top:0.1vh;
    position: relative;
    display: block;
    padding:0 1px;
    width: 100%;
    text-align: center;
    
    height:125px;
}

.custom-underline {
    
    margin-top:5vh;
    padding:0 1px;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }


  .custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: #fff;
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
}

.title .custom-underline::after {
    top: 65%;
    height: 2px !important;
    width: 40%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.6);
      transition: 0.4s ease-out all .1s;
  }
  
  .title:hover .custom-underline::after {
    width: 90%;
    left: 5%;
    transition: 0.5s ease all;
  }
  